<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>Vue 3 + Laravel Mix = Vulmix</title>
    <meta name="title" content="Your application title">
    <meta name="description" content="Your application description">

    <link rel="stylesheet" href="<%= mix('/assets/_vulmix/css/main.vulmix.css') %>">
    <link rel="stylesheet" href="<%= mix('/assets/css/main.css') %>">
  </head>

  <body class="h-full">
    <div id="app" class="h-full"></div>

    <script src="<%= mix('/assets/_vulmix/js/manifest.js') %>"></script>
    <script src="<%= mix('/assets/_vulmix/js/vendor.js') %>"></script>
    <script src="<%= mix('/assets/_vulmix/js/main.vulmix.js') %>"></script>
  </body>
</html>
