<!doctype html>
<% if (typeof (lang) != 'undefined') { %><html lang="<%= lang %>"><% } else { %><html lang="en"><% } %>
  <head>
    <% if (typeof (head) != 'undefined' && typeof (head.meta) != 'undefined') { %><meta charset="<% head.meta.forEach(item => { %><% if (typeof (item.charset) != 'undefined') { %><%= item.charset %><% } else { %>utf-8<% } %><% }) %>" /><% } else { %><meta charset="utf-8" /><% } %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof (head) != 'undefined') { %><% if (typeof (head.title) != 'undefined') { %><title> <%= head.title %> </title><% } %>
    <% if (typeof (head.meta) != 'undefined') { %><% head.meta.forEach(item => { %><% if (typeof (item.charset) == 'undefined') { %><meta <% if (typeof (item.name) != 'undefined') { %>name="<%= item.name %>"<% } else if (typeof (item.property) != 'undefined') { %>property="<%= item.property %>"<% } %><% if (typeof (item.content) != 'undefined') { %> content="<%= item.content %>"<% } %> /><% } %>
    <% }) %><% } %>
    <% if (typeof (head.link) != 'undefined') { %><% head.link.forEach(item => { %><% if (typeof (item.charset) == 'undefined') { %><link <% if (typeof (item.rel) != 'undefined') { %>rel="<%= item.rel %>"<% } else if (typeof (item.type) != 'undefined') { %>type="<%= item.type %>"<% } %><% if (typeof (item.href) != 'undefined') { %> href="<%= item.href %>"<% } %><% if (typeof (item.hreflang) != 'undefined') { %> hreflang="<%= item.hreflang %>"<% } %><% if (typeof (item.sizes) != 'undefined') { %> sizes="<%= item.sizes %>"<% } %> /><% } %>
    <% }) %><% } %>
    <% } %>
    <style>
      html,body,body>[data-vulmix-app]{height: 100%;margin: 0;display: flow-root;}
    </style>
    <% if (typeof (head) != 'undefined') { %>
    <% if (typeof (head.script) != 'undefined') { %><% head.script.forEach(item => { %><<%= 'script' %> <% if (typeof (item.src) != 'undefined') { %>src="<%= item.src %>"<% } %><% if (typeof (item.type) != 'undefined') { %> type="<%= item.type %>"<% } %>></script>
    <% }) %><% } %>
    <% } %>
  </head>

  <body>
    <div data-vulmix-app></div>

    <script src="<%= mix('/_vulmix/js/manifest.js') %>"></script>
    <script src="<%= mix('/_vulmix/js/vendor.js') %>"></script>
    <script src="<%= mix('/_vulmix/js/main.vulmix.js') %>"></script>
  </body>
</html>
